/* container page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 360px; 
    background-color: #ece7e6;
    box-shadow: 1px 1px 8px 1px rgb(139, 138, 138);
    margin-top: 50px;
    border-radius: 6px;
    margin-left: 25%;
}

/* container of input form */
.inputForm {
    width: 300px;
    height: 330px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.inputForm h1{
    margin-top: -20px;
}

/* input tag */
.inputForm input {
    width: 95%;
    height: 35px;
    margin-bottom: 5%;
    border-radius: 6px;
    font-size: 1rem;
    border: 1px solid rgb(19, 18, 18);
    margin: 10px;
    padding: 5px 10px;
    box-shadow: 1px 1px 8px 1px rgb(112, 111, 111);
}

/* submit button */
.inputForm button {
    width: 50%;
    height: 40px;
    border-radius: 6px;
    color:white;
    border: none;
    font-size: 1.2rem;
    font-weight: 550;
    margin: 5px;
    padding: 10px;
    background-color: rgb(20, 34, 228);
}

.inputForm button:hover{
    background-color: #068106;
}

/* link inside form  */
.inputForm a {
    color: blueviolet;
    font-size: 1.2rem;
    font-weight: 600;
}

/* hovering over link */
.inputForm a:hover {
    color: blue;
}